<div class="adduser-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="66%" fxFlex.gt-md="66%">
    <mat-card-title>Nuevo Servicio</mat-card-title>
    <mat-card-subtitle>Ingrese los datos de un nuevo Servicio</mat-card-subtitle>
    <mat-card-content>
      <form (ngSubmit)="saveServiceInfo()" [formGroup]="nuevoService" novalidate>
        <div class="addCounter-error" [hidden]="!error || isLoading" translate>
          {{ error }}
        </div>
        <div fxLayout="column">
          <mat-form-field [hideRequiredMarker]="false">
            <mat-label>Cliente </mat-label>
            <mat-select formControlName="provider_uuid" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let provider of providers" [value]="provider.uuid">
                {{ provider.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="false">
            <input matInput type="text" formControlName="description" placeholder="Descripcion" required />
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="false">
            <input matInput type="text" formControlName="base_price" placeholder="Precio Base" required />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button mat-raised-button color="primary" type="submit" [disabled]="nuevoService.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span>Guardar Servicio</span>
          </button>
          <button mat-raised-button (click)="openLink($event)">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
