<div class="adduser-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="66%" fxFlex.gt-md="66%">
    <mat-card-title>Counter Nuevo</mat-card-title>
    <mat-card-subtitle>Ingrese los datos de un nuevo Counter</mat-card-subtitle>
    <mat-card-content>
      <form (ngSubmit)="saveCounter()" [formGroup]="nuevoCounter" novalidate>
        <div class="addCounter-error" [hidden]="!error || isLoading" translate>
          {{ error }}
        </div>
        <div fxLayout="column">
          <mat-form-field [hideRequiredMarker]="false">
            <mat-label>Cliente </mat-label>
            <mat-select formControlName="client_uuid" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let client of clients" [value]="client.uuid">
                {{ client.name }}
              </mat-option>
            </mat-select>
            <!-- <mat-label> <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i> </mat-label> -->
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="false">
            <input matInput type="text" formControlName="name" placeholder="Nombre Completo" required />
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="false">
            <input matInput type="text" formControlName="email" placeholder="Email" required />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button mat-raised-button color="primary" type="submit" [disabled]="nuevoCounter.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span>Guardar Counter</span>
          </button>
          <button mat-raised-button (click)="openLink($event)">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
