<div class="container">
  <div>
    <mat-card class="card-header">
      <mat-card-content>
        <button mat-icon-button (click)="add_service_info()">
          <mat-icon>how_to_reg</mat-icon>
        </button>
        <input type="search" name="search_word" id="sw" />
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <app-loader [isLoading]="isLoading" size="3.5"></app-loader>
  <table [hidden]="isLoading" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="providerName">
      <th mat-header-cell *matHeaderCellDef>Proveedor</th>
      <td mat-cell *matCellDef="let service_info">{{ service_info.providerName }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let service_info">{{ service_info.description }}</td>
    </ng-container>

    <ng-container matColumnDef="base_price">
      <th mat-header-cell *matHeaderCellDef>Precio Base</th>
      <td mat-cell *matCellDef="let service_info">{{ service_info.base_price }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let service_info">
        <button mat-icon-button (click)="edit_service_info(service_info)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete_service_info(service_info)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="service_infosColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: service_infosColumns"></tr>
  </table>
</div>
