.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon-xx-large {
  font-size: xx-large;
}

.card-tile {
  width: 50%;
  height: 50%;
}

table {
  width: 100%;
  text-align: left;
}

.card-header {
  align-content: right;
  text-align: right;
  width: 100%;
  height: 50%;
}
