<div class="addcounter-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="90%" fxFlex.sm="90%" fxFlex.md="90%" fxFlex.gt-md="90%">
    <mat-card-title>NotaDebito Nuevo</mat-card-title>
    <mat-card-subtitle>Ingrese los datos de un nuevo NotaDebito <b></b> </mat-card-subtitle>
    <mat-card-content>
      <form (ngSubmit)="saveDebitNote()" [formGroup]="nuevoNotaDebito" novalidate>
        <div class="addOperator-error" [hidden]="!error || isLoading" translate>
          {{ error }}
        </div>
        <div fxLayout="row">
          <mat-form-field [hideRequiredMarker]="false">
            <input matInput type="text" formControlName="current_date" placeholder="Fecha Actual" />
          </mat-form-field>
          <mat-divider [inset]="true" [vertical]="true" style="height:1px"></mat-divider>
          <mat-form-field [hideRequiredMarker]="false">
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="expiration_date"
              placeholder="Fecha de Expiracion"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <mat-form-field [hideRequiredMarker]="false">
            <mat-label>Cliente </mat-label>
            <mat-select formControlName="client_uuid" (selectionChange)="getCounters($event.value)" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let client of clients" [value]="client.uuid">
                {{ client.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider [inset]="true" [vertical]="true" style="height:1px"></mat-divider>
          <mat-form-field [hideRequiredMarker]="false">
            <mat-label>Counter </mat-label>
            <mat-select formControlName="counter_uuid" (selectionChange)="setCounteName($event.value)" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let counter of counters" [value]="counter.uuid">
                {{ counter.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider [inset]="true" [vertical]="true" style="height:1px"></mat-divider>
          <mat-form-field [hideRequiredMarker]="false">
            <mat-label>Proveedor </mat-label>
            <mat-select formControlName="provider_uuid" (selectionChange)="setProviderName($event.value)" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let provider of providers" [value]="provider.uuid">
                {{ provider.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <mat-form-field [hideRequiredMarker]="false">
            <input matInput type="text" formControlName="passenger" placeholder="Pasajero" required />
          </mat-form-field>
          <mat-divider [inset]="true" [vertical]="true" style="height:1px"></mat-divider>

          <mat-form-field [hideRequiredMarker]="false">
            <textarea matInput formControlName="service" placeholder="Servicio" required> </textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field [hideRequiredMarker]="false">
            <textarea matInput formControlName="voucher" placeholder="Voucher" required> </textarea>
          </mat-form-field>
          <mat-divider [inset]="true" [vertical]="true" style="height:1px"></mat-divider>
          <mat-form-field [hideRequiredMarker]="false">
            <textarea matInput formControlName="concept" placeholder="Concepto" required> </textarea>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <button mat-raised-button color="primary" type="submit" [disabled]="nuevoNotaDebito.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span>Guardar NotaDebito</span>
          </button>
          <button mat-raised-button (click)="openLink($event)">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
