<mat-card>
  <mat-card-title>Usuario Nuevo</mat-card-title>
  <mat-card-subtitle>Ingrese los datos de un nuevo usuario</mat-card-subtitle>
  <mat-card-content>
    <form (ngSubmit)="addUser()" [formGroup]="nuevoUsuario" novalidate>
      <div class="addUser-error" [hidden]="!error || isLoading" translate>
        {{ error }}
      </div>
      <mat-form-field [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput type="text" formControlName="fullname" placeholder="Nombre Completo" required />
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput type="text" formControlName="email" placeholder="Correo electrónico" required />
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput type="password" formControlName="password" placeholder="Contraseña" required />
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="nuevoUsuario.invalid || isLoading">
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          <span translate>Agregar Usuario</span>
        </button>
        <button mat-button (click)="openLink($event)">Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
