<div class="container">
  <div>
    <mat-card class="card-header">
      <mat-card-content>
        <button mat-icon-button (click)="add_debitnote()">
          <mat-icon>how_to_reg</mat-icon>
        </button>
        <input type="search" name="search_word" id="sw" />
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <app-loader [isLoading]="isLoading" size="3.5"></app-loader>
  <table [hidden]="isLoading" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Codigo</th>
      <td mat-cell *matCellDef="let debitnote">{{ debitnote.code }}</td>
    </ng-container>

    <ng-container matColumnDef="passenger">
      <th mat-header-cell *matHeaderCellDef>Pasajero</th>
      <td mat-cell *matCellDef="let debitnote">{{ debitnote.passenger }}</td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef>Servicio</th>
      <td mat-cell *matCellDef="let debitnote">{{ debitnote.service }}</td>
    </ng-container>

    <ng-container matColumnDef="current_date">
      <th mat-header-cell *matHeaderCellDef>Fecha Inicial</th>
      <td mat-cell *matCellDef="let debitnote">{{ debitnote.current_date }}</td>
    </ng-container>

    <ng-container matColumnDef="expiration_date">
      <th mat-header-cell *matHeaderCellDef>Fecha Vencimiento</th>
      <td mat-cell *matCellDef="let debitnote">{{ debitnote.expiration_date }}</td>
    </ng-container>

    <ng-container matColumnDef="amount_dollar">
      <th mat-header-cell *matHeaderCellDef>Monto</th>
      <td mat-cell *matCellDef="let debitnote">{{ debitnote.amount_dollar }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let debitnote">
        <button mat-icon-button (click)="edit_debitnote(debitnote)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete_debitnote(debitnote)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="debitnotesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: debitnotesColumns"></tr>
  </table>
</div>
